@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Model
@model WebApp.Models.SummonerViewModel

@{
    ViewData["Title"] = "SummonerLookup";
}

<h2>SummonerLookup</h2>

<h4>SummonerViewModel</h4>
<hr /> 
<div class="row">
    <div class="summoner-input-area">
        <form method="get" asp-action="Details" asp-controller="Summoner">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" value="FriendlyRob" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Region, new SelectList(ViewBag.RegionList))
            </div>
            <div class="form-group">
                <input type="submit" value="Lookup" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
