/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/****** START CUSTOM CSS ROB ******/

/* Summoner Info */
.summoner {
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Profile Icon */
.profile-icon {
    display: inline-block;
}
.profile-icon-image {
    width: 100px;
    height: 100px;
}
/* Summoner Info */
.summoner-info {
    display: inline-block;
}
.summoner-name {
    font-size: 20px;
    font-weight: bold;
}
/* Sumoner Rank */
.summoner-ranks {
    margin-bottom: 20px;
}
.rank-icon {
    display: inline-block;
}
.rank-icon-image {
    width: 100px;
    height: 100px;
    vertical-align: baseline;
}
.rank-info {
    display: inline-block;
}


/* Match History */
.played-games-history-list {
    margin-bottom: 20px;
}
.played-game-wrap {
    margin-bottom: 8px;
}
.played-game {
    background-color: #a3cfec;
    border-color: #99b9cf;
}
.played-game-champion-icon {
    display: inline-block;
}
.played-game-champion-icon-image {
    width: 60px;
    height: 100%;
}
.played-game-info {
    display: block;
}
.teams-wrap {

}
.team-block {
    display: inline-block;
}
.player-block {
    width: 250px;
    height: 100px;
}
.champion-summspells-section {
    float: left;
    width: 75px;
}
.player-summoner-spells {
    width: 60px;
    height: 30px;
}
img.player-summoner-spell-image {
    width: 30px;
    float: left;
}
.player-info {
    float: left;
    width: 175px;
}